*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.model-wrapper{
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top:0;
  background-color: rgba(189 , 189 , 189 , 0.9);
}

.model-container{
  position: fixed;
  background-color: aliceblue;
  left: 40%;
  top: 40%;
  width: 200px;
  height: 80px;
  padding: 4px;

}


